body {
    font-family: "Liberation Sans", sans-serif;
}

.login-page {
    margin: 0 auto;
    width: 50%;
}

.county-root {
    display: flex;
    flex-direction: column;
}

.county-root .info {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

.county-root .contest-info {
    flex: 1;
}

.county-root .county-info {
    flex: 1;
}

.sos-home {
    display: flex;
    flex-direction: column;
}

.sos-home .sos-info {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

.sos-home .sos-info .contest-info {
    flex: 1;
}

.sos-home .sos-info .county-info {
    flex: 1;
}

.truncate {
  width: 500px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.pt-breadcrumb {
    margin: 10px;
}

h2 {
    padding: 10px;
}

h3 {
    padding: 10px;
}

.rla-page {
    margin: 0 auto;
    max-width: 800px;
}

.rla-page .pt-card {
    margin-bottom: 5px;
    margin-top: 5px;
}

.rla-page table {
    margin: 0 auto;
}

.rla-radio-group {
    width: fit-content;
    width: -moz-fit-content;
    width: -webkit-fit-content;
}

.rla-contest-choice {
    width: fit-content;
    width: -moz-fit-content;
    width: -webkit-fit-content;
}

.rla-county-contest-info {
    table-layout: fixed;
    width: 100%;
}

td.rla-county-contest-info {
    width: 50%;
}

th.rla-county-contest-info {
    width: 50%;
}

.rla-license-footer {
    width: 100%;
}

.rla-license {
    margin: 0 auto;
    margin-top: 10px;
    margin-bottom: 10px;
    width: 500px;
}
