body {
    font-family: "Liberation Sans", sans-serif;
}

.login-page {
    margin: 0 auto;
    width: 50%;
}

.county-root {
    display: flex;
    flex-direction: column;
}

.county-root .info {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

.county-root .contest-info {
    flex: 1;
}

.county-root .county-info {
    flex: 1;
}

.sos-home {
    display: flex;
    flex-direction: column;
}

.sos-home .sos-info {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

.sos-home .sos-info .contest-info {
    flex: 1;
}

.sos-home .sos-info .county-info {
    flex: 1;
}
