body {
    font-family: "Arial", sans-serif;
}

div{
  white-space: pre-wrap;
}

.login-page {
    margin: 0 auto;
    width: 50%;
}

.county-root {
    display: flex;
    flex-direction: column;
}

.county-root .info {
    /*
     * Removed by CDOS - causes "Contest Info" to drop below "County Info"
     * rather than to the right of "County Info".
     */
    /*display: flex;*/
    flex-direction: row;
    justify-content: space-evenly;
}

.county-root .contest-info {
    flex: 1;
}

.county-root .county-info {
    flex: 1;
}

.sos-home {
    display: flex;
    flex-direction: column;
}

.sos-home .sos-info {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

.sos-home .sos-info .contest-info {
    flex: 1;
}

.sos-home .sos-info .county-info {
    flex: 1;
}

.audit{
    margin-top: 10px;
}

.truncate {
  width: 500px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.pt-breadcrumb {
    margin: 10px;
}

.pt-button-group.corla-spaced > .pt-button:not(:last-child) {
  margin-right: 10px;
}

.pt-table {
    border-spacing: 0;
    font-size: 16px !important;
}

.pt-file-upload-input::after {
    background-color: #137cbd;
    background-image: none;
	color: #ffffff;
    position: absolute;
    top: 0;
    right: 0;
    left: 100%;
    margin-left: -1px;
    border-radius: 3px;
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
    width: 70px;
    height: 30px;
    padding: 0 10px;
    text-align: center;
    line-height: 30px;
    content: "Browse"; }


  .pt-file-upload-input:hover::after {
    box-shadow: inset 0 0 0 1px rgba(16, 22, 26, 0.2), inset 0 -1px 0 rgba(16, 22, 26, 0.1);
    background-clip: padding-box;
    background-color: #137cbd; }

h2 {
    padding: 10px;
}

h3 {
    padding: 10px;
}

.pt-ui-text-large {
  line-height: 1.25;
  font-size: 16px;
  font-weight: bold;
}

.rla-page {
    margin: 0 auto;
    max-width: 800px;
}

.rla-page table {
    margin: 0 auto;
}

.rla-radio-group {
    width: fit-content;
    width: -moz-fit-content;
    width: -webkit-fit-content;
}

.rla-contest-choice {
    width: fit-content;
    width: -moz-fit-content;
    width: -webkit-fit-content;
}

.rla-county-contest-info {
    table-layout: fixed;
    width: 100%;
}

td.rla-county-contest-info {
    width: 50%;
}

th.rla-county-contest-info {
    width: 50%;
}

.rla-license-footer {
    width: 100%;
}

.rla-license {
    margin: 0 auto;
    margin-top: 10px;
    margin-bottom: 10px;
    width: 500px;
}

.rla-file-upload-progress {
    width: 50%;
}

.import-file {
  display: none;
}

/* Audit Stage two-column layout ------------------------------ */

.audit-page-container {
    padding-top: 40px;
    color: #333;
}

.audit-page-title {
    font-size: 36px;
    font-weight: 200;
    padding: 0;
}

.audit-page-subtitle {
    font-size: 24px;
    margin-bottom: 20px;
}

.ballot-number {
    font-size: 24px;
    background-color: #08589A;
    color: white;
    font-weight: 200;
    display: inline-block;
    padding: 3px 12px;
    border-radius: 2px;
}

.col-layout {
    display: grid;
    grid-template-areas: "col1 col2";
    grid-template-columns: 200px 1fr;
    margin-top: 40px;
}

.col1 {
    margin-right:20px;
}

.row1 {
    border-bottom: solid 1px #ccc;
    margin-bottom: 40px;
    padding-bottom: 40px;
}

.button-container {
    display: flex;
    margin: 40px 0;
    justify-content: flex-end;
    align-items: center;
}

.not-found-header {
    font-size: 18px;
    margin-bottom: 20px;
}

.not-found-copy {
    margin-bottom: 20px;
}

.contest-row {
    background-color: #eee;
    padding: 20px;
    border-radius: 2px;
    margin-bottom: 30px;
}

.contest-info {
    margin-bottom: 20px;
}

.contest-name {
    font-size: 21px;
}

.num-of-choices {
    color: #666;
}

.contest-choices {
    display: grid;
    grid-column-gap: 1rem;
    grid-template-columns: 1fr 1fr 1fr;
}


/* hacking my way around blueprint's custom checkbox styles */

.pt-control {
    padding: 0;
}

.rla-contest-choice {
    width: 100%;
}

.contest-choice-selection .pt-control-indicator {
    display: none;
}

.choice-name {
    padding: 10px;
    color: #08589A;
    border: solid 1px transparent;
    background: #fff;
    border-radius: 2px;
    display: block;
}

.choice-name:hover {
    border: solid 1px #08589A;
}

.contest-choice-selection input:checked ~ .choice-name {
    background-color: #08589A;
    border:solid 1px #08589A;
    color: white;
}

