# "Abstract" dependencies for the project
#
# The sibling requirements.txt file contains the corresponding concrete /
# pinned dependencies.
#
# To update requirements.txt (e.g. to check for upgrades in package
# dependencies or to add a new dependency to the current file), run the
# following from a new virtual environment:
#
#     $ pip install -r requirements.in
#     $ pip freeze > requirements.txt
#
requests
zerotest
